* {
	box-sizing: border-box;
}

body {
	font-family: "ArialRegular", sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
}

.top_header {
	background-color: #4488bb;
}

.header-image {
	background-image: url(../images/bg_header_1.png);
	background-repeat: no-repeat;
	background-position: top center;
}

.banner-text {
	padding: 0;
}

.banner-text .header-title {
	color: #fff;
	font-family: ArialBold;
	font-size: 48px;
	margin: 13px 0 26px 0;
	padding-bottom: 13px;
	border-bottom: 5px solid #fff;
	width: 337px;
}

.banner-text .header-text {
	color: #fff;
	font-size: 17px;
	width: 477px;
}

.request-form {
	background-color: #fff;
	margin: 30px 75px 30px 0;
	height: 340px;
	padding: 18px 20px;
	width: 300px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
	float: right;
}

.form {
	margin: 13px 0 14px 2px;
}

.input-holder {
	position: relative;
}

.request-form input[type=email],
.request-form input[type=text]{
	position: relative;
	width: 100%;
	height: 50px;
	border: 1px solid #000000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 0 0 0 10px;
}
.request-form input[type]:focus {
	background: #eeeeee;
}

.title-form label {
	pointer-events: none;
	position: absolute;
	opacity: 0;
	top: 3px;
	transform: translateY(15%);
	z-index: 2;
	font-weight: bold;
	font-size: 10px;
	padding-left: 6px;
	color: #aaaaaa;
	transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.content-form {
	position: relative;
}

.bt-flabel__float label {
	opacity: 1;
	transform: translateY(0);
}

.bt-flabel__float input[type] {
	padding-top: 9px;
}

.text-form {
	color: #4488bb;
	font-size: 24px;
	font-family: "ArialBold";
	margin-bottom: 10px;
}

.country-form {
	margin-bottom: 15px;
}

.btn-form-email, .btn-form-name {
	position: absolute;
	right: 13px;
	top: 0;
	bottom: 0;
	height: 12px;
	margin: auto;
	font-size: 12px;
	cursor: pointer;
	color: #7a7a7e;
}

.text-color-not {
	color: #bb4444 !important;
}

.text-color-is {
	color: #4488bb !important;
}

.message {
	position: absolute;
	z-index: 9;
	display: none;
	width: 70%;
	padding: 10px;
	margin: 10px 0 0 38px;
	background: #bb4444;
	color: #fff;
	text-align: center;
}

.message:after {
	content: '';
	position: absolute;
	top: -10px;
	left: 50%;
	display: block;
	margin-left: -10px;
	border: solid;
	border-color: #bb4444 transparent #bb4444;
	border-width: 0 10px 10px;
}

.is-valid{
	border-color: #4488bb !important;
}

.not-valid {
	border-color: #bb4444 !important;
}

.not-valid + .message {
	display: block;
}

.country-form-select {
	border: 0;
	background-color: #eeeeee;
	min-height: 50px;
	padding: 0 0 0 8px;
}

.country-form select {
	color: #aaaaaa;
}

.country-form select option {
	color: #aaaaaa;
}

.country-form select:focus {
	box-shadow: none;
}

.form-agree span {
	color: #aaaaaa;
}

.button-form button{
	width: 120px;
	background: #4488bb;
	background-image: -webkit-linear-gradient(top, #4488bb, #2e5d80);
	background-image: -moz-linear-gradient(top, #4488bb, #2e5d80);
	background-image: -ms-linear-gradient(top, #4488bb, #2e5d80);
	background-image: -o-linear-gradient(top, #4488bb, #2e5d80);
	background-image: linear-gradient(to bottom, #4488bb, #2e5d80);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 0;
	color: #ffffff;
	font-size: 16px;
	padding: 7px 20px;
	text-decoration: none;
}

.button-form a {
	color: #aaaaaa;
	margin-left: 16px;
}

section .card-1,
section .card-2,
section .card-3,
section .card-4,
section .card-5 {
	background-repeat: no-repeat;
	height: 150px;
	padding: 0;
}

section .card-1,
section .card-2,
section .card-3 {
	width: 370px;
}

section .card-4,
section .card-5 {
	width: 562px;
}

section .card-1 {
	background-image: url('../images/card_1.png');
	background-position: center center;
	margin: 75px 7px 24px 0;
	overflow: hidden;
	position: relative;
}

section .card-2 {
	background-image: url('../images/card_2.png');
	background-position: center 42%;
	margin: 75px 8px 24px 8px;
	overflow: hidden;
	position: relative;
}
section .card-3 {
	background-image: url('../images/card_3.png');
	background-position: center 65%;
	margin: 75px 0 24px 7px;
	overflow: hidden;
	position: relative;
}
section .card-4 {
	background-image: url('../images/card_4.png');
	background-position: center 29%;
	margin: 0 7px 0 0;
	overflow: hidden;
	position: relative;
}
section .card-5 {
	background-image: url('../images/card_5.png');
	background-position: center 33%;
	margin: 0 0 0 8px;
	overflow: hidden;
	position: relative;
}

.card-1:hover .card,
.card-2:hover .card,
.card-3:hover .card,
.card-4:hover .card,
.card-5:hover .card {
	transform: translateY(0);
}

.card {
	min-height: 150px;
	background-color: rgba(68, 136, 187, 0.7);
	padding: 0 20px 0 20px;
	color: #fff;
	position: absolute;
	bottom: 0;
	width: 100%;
	transform: translateY(calc(70px + 1em));
	transition: transform 0.3s;
}

.col-md-4 .card, .col-md-6 .card {
	color: #fff;
	transform: translateY(calc(73px + 2em));
}

.card .content {
	position: relative;
	z-index: 1;
}

.card .title {
	margin-top: 10px;
	font-family: ArialBold;
	font-size: 22px;
}

.card .text {
	height: 70px;
	margin: 0;
	font-size: 13px;
}

.card-header .header {
	font-family: ArialBold;
	font-size: 22px;
	margin-bottom: 7px;
}

.card-header .header p {
	margin: 0;
}

.card-text {
	font-size: 13px;
	font-family: ArialRegular;
}

.card-header, .card-header .header, .img {
	padding: 0;
}

.img img {
	float: right;
	margin-top: 10px;
}

.promo-block {
	background-color: #eeeeee;
	position: relative;
	margin-top: 75px;
}

.promo-block-image {
	position: relative;
	top: -20px;
}

.content-text {
	margin-bottom: 70px;
}

.promo-block-text {
	font-family: ArialBold;
	color: #4488bb;
}

.promo-block-text .header {
	font-size: 44px;
	margin: 65px 0 35px 115px;
}

.promo-text {
	font-family: ArialBold;
	font-size: 17px;
	margin-left: 55px;
	padding: 0;
}

.marker {
	vertical-align: middle;
	text-align: center;
	width: 25px;
	height: 25px;
	background-color: #4488bb;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	color: #fff;
	margin: 13px 0;
}

.promo-text .text-1,
.promo-text .text-2,
.promo-text .text-3,
.promo-text .text-4,
.promo-text .text-5,
.promo-text .text-6 {
	padding: 13px 0;
}

.promo-text .text-1 span,
.promo-text .text-2 span,
.promo-text .text-3 span,
.promo-text .text-4 span,
.promo-text .text-5 span {
	border-bottom: 1px dashed #aaaaaa;
	padding: 13px 0;
}

.disclamers {
	color: #4488bb;
	border-left: 5px solid #4488bb;
	font-family: ArialRegular;
	font-size: 17px;
	margin: 20px 0;
}

.disclamers-text {
	padding: 20px 0 20px 25px;
}


